{{> head }}
{{> navbar }}



<div class="row">
    <div class="col-8">
        <h1>Hola me llamo Jaham y Soy un feliz Desarrollador js</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, voluptate! Perferendis libero labore sint 
            tenetur fuga delectus quam laborum ducimus voluptates placeat illum, officia eum. Aut perferendis mollitia 
            voluptates nobis!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/node.png" class="img-thumbnail">
    </div>
</div>




{{> footer }}