{{> head }}
{{> navbar }}

<!--<div class="row">
    <div class="col-4"><a href="#" class="badge badge-primary">Servicios</a></div>
    <div class="col-4"><a href="#" class="badge badge-primary">Caja</a></div>
    <div class="col-4"><a href="#" class="badge badge-primary">Reclamaciones</a></div>
</div>
<div class="row">
    <div class="col-4"><a href="#" class="badge badge-primary"></a></div>
    <div class="col-4"><a href="#" class="badge badge-primary">Primary</a></div>
    <div class="col-4"><a href="#" class="badge badge-primary">Primary</a></div>
</div>-->


<div class="row">
   
   <div class="col-4"></div>
   <div class="col-4">
       <form action="">
            <button type="button" class="btn btn-primary">Cliente</button>
        </form>
   </div>
   <div class="col-4"></div>
    
</div>
<br>
<br>
<br>

<div class="row">
   
   <div class="col-4"></div>
   <div class="col-4">
       <form type="get" action="/servicios">
            <submit class="btn btn-primary"> ej. Servisios </submit>
        </form>
   </div>
   <div class="col-4"></div>
    
</div>

<br>
<br>
<br>

<div class="row">
   
   <div class="col-4"></div>
   <div class="col-4">
       <form action="/admin">
            <button type="button" class="btn btn-primary"> Admin </button>
        </form>
   </div>
   <div class="col-4"></div>
    
</div>




 {{#each users }}
        {{ this.nombre }}
        {{/each}}



<!--
    <div class="jumbotron">
        <h1 class="display-4">Hello, {{ capitalizar nombre}}</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

    


       
    </div>-->




 {{> footer }}